<!doctype html>
<title>AAStocks</title>
<link rel=stylesheet type=text/css href='{{ url_for('static',filename='style_lulu.css')}}'>
<div class=page>
  <h1>User Input</h1>
  <div class=metanav>

<h4>
Please enter a stock ticker eg. GOOG, and check desired features.
</h4>

<form id='userinfoform_lulu' method='post' action='index_lulu' > <!-- action is the URL you want to move to next-->
   <p>
   Ticker symbol: <input type='text' name='ticker_lulu' />
   </p>
   
   <p>
   Closing price: <input type='checkbox' name='cprice_lulu' value='checked'/>
   <input type='hidden' name='cprice_lulu' value='unchecked'/>
   </p>
   
   <p>
   Adjusted closing price: <input type='checkbox' name='aprice_lulu' value='checked'/>
   <input type='hidden' name='aprice_lulu' value='unchecked'/>
   </p>
   
   <p>
   Volume: <input type='checkbox' name='volume_lulu' value='checked'/>
   <input type='hidden' name='volume_lulu' value='unchecked'/>
   </p>
   
   <!--
    Answer: <br />
   -->
   
   <!--
   Closing price: <input type='radio' name='answer_from_layout_lulu' value={{ans1}} /> {{ans1}} <br />
   Adjusted closing price: <input type='radio' name='answer_from_layout_lulu' value={{ans2}} /> {{ans2}} <br />
   Volume: <input type='radio' name='answer_from_layout_lulu' value={{ans3}} /> {{ans3}} <br />
   
   
   Closing price: <input type='checkbox' name='answer_from_layout_lulu' value={{ans1}} /> {{ans1}} <br />
   Adjusted closing price: <input type='checkbox' name='answer_from_layout_lulu' value={{ans2}} /> {{ans2}} <br />
   Volume: <input type='checkbox' name='answer_from_layout_lulu' value={{ans3}} /> {{ans3}} <br />
   -->
   
   

   

   
   <p>
   
   <input type='submit' value='Submit' /> <!-- value is the text that will appear on the button. -->
   </p>
</form>

</div>
</div>
